
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #f8fafc;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

button {
  font-family: inherit;
}
